# Node / Angular
node_modules/
dist/
.angular/
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Java / Spring Boot
target/
*.class
*.jar
*.war
*.log

# Maven Wrapper
.mvn/
mvnw
mvnw.cmd

# IDE & OS
.idea/
.vscode/
.DS_Store

# Angular build output generated for Spring Boot static serving
stayeasy-springangular/src/main/resources/static/browser/
stayeasy-springangular/src/main/resources/static/media/
stayeasy-springangular/src/main/resources/static/3rdpartylicenses.txt
stayeasy-springangular/src/main/resources/static/prerendered-routes.json